doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Games

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Games
        
      section
        h2 Definisi Game
        h3 Menurut Kamus & Para Ahli
        ul
        li Dalam kamus bahasa Indonesia “Game” diartikan sebagai permainan yang merujuk pada pengertian kelincahan intelektual & sebagai arena keputusan dan aksi pemainnya.
        li Menurut David Parlett: "Game adalah sesuatu yang memiliki akhir dan cara mencapainya artinya ada tujuan, hasil dan serangkaian peraturan untuk mencapai keduanya.""
        li Menurut Roger Caillois, seorang sosiolog Perancis, dalam bukunya yang berjudul Les jeux et les hommes menyatakan "Game adalah aktivitas yang mencakup karakteristik berikut : fun (bebas bermain adalah pilihan bukan kewajiban), separate (terpisah), uncertain, non-productive, governed by rules (ada aturan), dan fictitious (pura-pura)."
      section
        h1 Sejarah Perkembangan Game
      section
        p Asal usul permainan video atau video game terletak pada awal tabung sinar katoda berbasis pertahanan peluru kendali sistem pada akhir 1940-an. 
        p Program-program ini kemudian diadaptasi ke dalam permainan sederhana lainnya di era tahun 1950-an.  
        p Pada akhir 1950-an dan melalui tahun 1960-an, lebih banyak permainan komputer yang dikembangkan (kebanyakan di komputer mainframe), secara bertahap tingkat kecanggihan dan kompleksitasnya pu turut bertambah. Setelah periode ini, video game menyimpang ke berbagai platform: arcade, mainframe, konsol, komputer dan kemudian smartphone.
        

      section
        h2 Generasi-generasi Game
        

      section
        h3 Generasi Pertama
        p Generasi pertama konsol permainan video berlangsung dari tahun 1972, dengan rilis dari Magnavox Odyssey, hingga 1977, ketika pong-style produsen konsol meninggalkan pasar secara massal karena pengenalan dan keberhasilan mikroprosesor berbasis konsol

      section
         h2 Jenis - jenis games
         h3  - Adventure
         h3  - Platform
         h3  - RPG (Role-Playing Games)
         h3  - Puzzle
         h3  - MMORPG

      section
       h2 Adventure
       ul
        li  Melibatkan eksplorasi atau interaksi di lingkungan sekitar.
        li  Cerita serta penyelesaian puzzle juga disorot pada jenis game ini.
        li  Biasanya interaksi menggunakan pointer dan klik.
        li  Pertarungan pada peran ini cukup kecil.
        li  Contoh : Indiana Jones, Monkey Island dsb.

      section
        h2 Platform
        ul
         li Mulai pada tahun 1981 dengan munculnya game "Donkey Monkey" dan "Space Panic".
         li Diidentifikasi dengan lingkungan yang bisa dinavigasi.
         li  Membutuhkan waktu dan lompatan untuk mencapai suatu destinasi.
         li  Contohnya super mario bros.

      section
       h2 RPG
       ul
        li Kekuatan atau kemampuan
        li Direpresentasikan dalam statistik.
        li Karakter menjelajahi dan menyelesaikan quest.
        li Experience/Statistik bertambah.

      section
       h2 Puzzle
       ul
         li Sangat singkat
         li Addictive
         li Selesaikan puzzle.
         li Contoh: tetris, puzzle bobble.

      section
       h2 MMORPG
       ul
         li Massive Multiplayer Online Role Playing Game
         li Game role playing multiplayer
         li Online
         li Contoh : Diablo, Warcraft.
  
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild